@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

#cardimage {
    height: 450px;
    width: 450px;
}

#userpage{
    width: 450px;
    margin-right: 30px;
}

#card-column {
    
    @include media-breakpoint-only(xl) {
        column-count: 4;
    }
    @include media-breakpoint-only(lg) {
    column-count: 3;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(sm) {
        column-count: 1;
    }
}

@media(min-width:576px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}