#searched {
    width: 400px;
    height: 400px;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.searchbox {
    margin: 50px auto;
    float: none;
    margin-bottom: 100%;
    width: 400px;
}